name: Release

on:
  workflow_dispatch:
    inputs:
      bump:
        description: 'Bump type'
        required: false
        default: 'next'
        type: choice
        options:
          - 'next'
          - 'major'
          - 'minor'
          - 'patch'
          - 'current'

jobs:
  version:
    runs-on: ubuntu-latest
    outputs:
      version_current: ${{ steps.versions.outputs.version_current }}
      version_next: ${{ steps.versions.outputs.version_next }}
      should_release: ${{ steps.versions.outputs.should_release }}
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Install svu
        run: |
          curl -sfL https://raw.githubusercontent.com/caarlos0/svu/main/install.sh | sudo sh -s -- -b /usr/local/bin
      - name: Compute next version
        run: |
          echo "VERSION_NEXT=$(svu ${{ inputs.bump }})" | tee -a $GITHUB_ENV
      - name: Set Versions
        id: versions
        run: |
          echo "version_current=$(svu current)" >> $GITHUB_OUTPUT
          echo "version_next=${{ env.VERSION_NEXT }}" >> $GITHUB_OUTPUT
          if [ "$(svu current)" != "${{ env.VERSION_NEXT }}" ]; then
            echo "should_release=true" >> $GITHUB_OUTPUT
          fi

  release:
    name: Build & Push Docker
    runs-on: ubuntu-latest
    needs: version
    permissions:
      contents: write
      packages: write
    steps:
      - name: Remove unnecessary files
        run: |
          sudo rm -rf /usr/share/dotnet
          sudo rm -rf "$AGENT_TOOLSDIRECTORY"

      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Display versions
        run: |
          echo "Current: ${{ needs.version.outputs.version_current }} -> Next: ${{ needs.version.outputs.version_next }}"

      - name: Update version in gradle.properties
        run: sed -i -e "s/version=.*/version=${{ needs.version.outputs.version_next }}/" gradle.properties

      - uses: actions/setup-node@v6
        with:
          node-version-file: '.nvmrc'
          cache: 'npm'
          cache-dependency-path: komga-webui/package-lock.json

      - name: Setup Java 21
        uses: actions/setup-java@v5
        with:
          java-version: 21
          java-package: 'jdk'
          distribution: 'temurin'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Build JAR
        run: ./gradlew :komga:prepareThymeLeaf :komga:bootJar
        env:
          NODE_OPTIONS: "--max-old-space-size=4096"

      - name: Copy JAR for Docker build
        run: |
          cp komga/build/libs/komga-${{ needs.version.outputs.version_next }}.jar komga/docker/komga.jar

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to ghcr.io
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: komga/docker
          file: komga/docker/Dockerfile.tpl
          push: true
          platforms: linux/amd64,linux/arm64,linux/arm/v7
          tags: |
            ghcr.io/${{ github.repository_owner }}/komga:latest
            ghcr.io/${{ github.repository_owner }}/komga:${{ needs.version.outputs.version_next }}

      - name: Release commit and tag
        uses: EndBug/add-and-commit@v9
        with:
          message: 'chore(release): ${{ needs.version.outputs.version_next }} [skip ci]'
          tag: '${{ needs.version.outputs.version_next }}'
          default_author: github_actions
